ul {
  list-style: none; /* Elimina los puntos de lista */
  padding: 0;
  margin: 0;
  height: 50px;
  display: flex; /* Coloca los elementos en una fila */
  background-color: #89afaf; /* Fondo del menú */
  justify-content: space-around; /* Espacio equitativo entre elementos */
  text-align: center;
}

li {
  margin-right: 40px; /* Aumenta el espaciado entre elementos */
  margin-top: 15px;
}

a {
  text-decoration: none; /* Elimina el subrayado */
  color: white; /* Color del texto */
  padding: 15px 30px; /* Aumenta el espaciado dentro del enlace */
  font-weight: bold;
  transition: background-color 0.3s ease; /* Efecto suave en el cambio de color */
}

a:hover {
  background-color: #6f9292; /* Color de fondo al pasar el ratón */
  color: black;
}

a.active {
  background-color: #5c7b7b; /* Color de fondo del enlace activo */
}