* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    height: 100vh;           /* Altura completa del viewport */
    background-color: #f4f4f4;
}

.button-container {
    display: flex;
    flex-direction: column;  /* Coloca los botones en columna */
    align-items: center;      /* Centra los botones dentro del contenedor */
    gap: 20px;                /* Espacio entre los botones */
    padding: 20px;            /* Espacio dentro del marco */
    border: 3px solid #89afaf;/* Marco alrededor del contenedor */
    border-radius: 10px;      /* Bordes redondeados para un efecto más suave */
    background-color: white;  /* Fondo blanco para destacar el marco */
    width: 80%;              /* Ajusta el ancho al 80% del viewport */
    max-width: 400px;         /* Limita el ancho máximo a 400px */
    text-align: center; 
}


.home-button {
    padding: 10px 20px;
    background-color: #89afaf;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: #77a2a2;
}