<div class="home-container">
    <!-- Imagen del logo de Angular -->
    <!--<img src="assets/images/angular.png" alt="Logo de Angular" class="angular-logo" />-->
  
    <!-- Título de la página -->
    
  
    <!-- Contenedor de botones con rutas -->
    <div class="button-container">
      <h1 class="title">HOME</h1>
      <!-- Añadir routerLink para navegar a las rutas correspondientes -->
      <button class="home-button" routerLink="/user">PERFIL</button>
      <button class="home-button" routerLink="/foro">FORO</button>
    </div>
  </div>
