<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br> 

<div class="login-container">
  <!-- Título de la página -->
  <h1 class="title">LOGIN</h1>
  <!-- Imatge logo -->
  <!-- <img src="_.jpeg" alt="Logo" class="login-logo">  -->
  <!-- Formulario de inicio de sesión -->
  <form (ngSubmit)="logUser(userForm)" #userForm="ngForm">
    <div *ngIf="errorMessage" class="error-message global-error">{{ errorMessage }}</div> <!-- Mensaje de error global -->

      <div class="form-group">
          <label for="username">Username:</label>
          <input
              type="text"
              id="username"
              [(ngModel)]="loginData.username"
              name="username"
              required
              placeholder="Introduce tu username"
          />
          <div *ngIf="userForm.controls['username']?.invalid && userForm.controls['username']?.touched" class="error-message">
              El username es obligatorio.
          </div>
      </div>

      <div class="form-group">
          <label for="password">Password:</label>
          <input
              type="password"
              id="password"
              [(ngModel)]="loginData.password"
              name="password"
              required
              placeholder="Introduce tu contraseña"
          />
          <div *ngIf="userForm.controls['password']?.invalid && userForm.controls['password']?.touched" class="error-message">
              La contraseña es obligatoria.
          </div>
      </div>
      <br>
      <div class="button-container">
          <button type="submit" class="login-button" [disabled]="!userForm.valid">Iniciar Sesión</button>
          <!-- <button class="login-button" routerLink="/home">Anar a Home</button> -->
      </div>
  </form>
</div>