<div class="login-container">
     <!-- Imagen del logo de Angular -->
  <img src="assets/images/StayCloseLogo.png" alt="Logo de StayClose" class="stayclose-logo" />

  <!-- Título de la página -->
  <h1 class="title">Stay Close</h1>
    <!--<form (ngSubmit)="onSubmit()">
      <div>
        <label for="username">Username</label>
        <input type="text" id="username" [(ngModel)]="loginData.username" name="username" required />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" [(ngModel)]="loginData.password" name="password" required />
      </div>
      <button type="submit">Login</button>
    </form>-->
    
    <!-- Contenedor de botones con rutas -->
    <div class="button-container">
        <!-- Añadir routerLink para navegar a las rutas correspondientes -->
        <button class="login-button" routerLink="/home">Anar a Home</button>
    </div>

</div>